* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue: #1d3557;
  --secondary-blue: #219ebc;
  --black: #333333;
  --yellow: #ffba08;
  --dark-yellow: #f77f00;
}

body {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

header {
  text-align: center;
  background-color: var(--primary-blue);
  color: white;
  padding: 20px;
  font-size: 1.1rem;
}

header nav {
  font-size: 4rem;
  margin: 10px auto;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  margin: 30px;
  text-align: center;
}

#text-input {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  min-height: 20vh;
  display: block;
  margin: 0 auto;
  border: 3px solid var(--dark-yellow);
  padding: 10px;
  font-size: large;
  color: var(--secondary-blue);
  word-wrap: normal;
  font-weight: 700;
}

#button-translate {
  background-color: var(--yellow);
  padding: 1rem 30px;
  width: max-content;
  margin: 20px auto;
  font-size: large;
  color: var(--primary-blue);
  border: none;
}

#button-clear {
  background-color: white;
  padding: 1rem 30px;
  width: max-content;
  margin: 20px auto;
  font-size: large;
  color: var(--dark-yellow);
  border: 1px solid var(--yellow);
  border-radius: 0.5rem;
}

#text-output {
  text-align: left;
  border: 2px solid var(--secondary-blue);
  padding: 20px;
  min-height: 15vh;
  color: var(--dark-yellow);
}
